/* body,
html {
  scroll-behavior: smooth;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

/* ::-webkit-scrollbar {
  width: 10px;
  /* color: white; */
  /* height: 10px; */
}

/* ::-webkit-scrollbar-track {
  background: var(--lightestgrey);
  transition: 0.4s;
}

::-webkit-scrollbar-thumb {
  background: #657277;
  border-radius: 5px 5px 5px 0;
}

::-webkit-scrollbar-thumb:hover {
  background: #799dab;
}  */

.wrapContent {
  max-width: 1000px;
  margin: 40px auto;
}

.wrapper {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  background-color: #141414;
  color: #ffefdf;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.66)
    ),
    url("../images/pexels-uzunov-rostislav-5011647.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
}

main {
  max-width: 1600px;
  margin: 0 auto;
}

.beforeLogin {
  background-color: #799dab;
  height: 100vh;
}

.welcomeSection {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.beforeLogin__cardSection {
  display: flex;
  align-items: flex-end;
  padding: 25px;
  border: white solid 5px;
  border-radius: 20px 20px 20px 0;
  gap: 10px;
}

.welcomeSection__information {
  padding: 20px;
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.loginRegisterSections {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0 0 0;
}

.loginRegisterSections > div:nth-of-type(1) {
  margin: 10px;
  height: 70vh;
  border: 5px solid white;
  border-radius: 25px 25px 25px 0;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

header {
  background-color: #799dab;
  /* margin-bottom: 40px; */
  z-index: 200;
  height: 50px;
}

@media only screen and (max-width: 799px) {
  .welcomeSection img {
    width: 80%;
    height: auto;
  }
  .beforeLogin__cardSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 549px) {
  .welcomeSection {
    flex-direction: column;
  }
}
