/* Default */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--small-font-size);
  font-family: var(--paragraph);
  color: var(--parchment-white);
}

button {
  font-size: var(--small-font-size);
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

/* Base  */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--light-feather-black);
}

::-webkit-scrollbar-thumb {
  background: #657277;
  border-radius: 5px 5px 5px 0;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--light-feather-black);
  background: var(--base-blue);
}

body {
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.66)
    ),
    url("../images/pexels-uzunov-rostislav-5011647.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
}

header {
  background-color: var(--base-blue);
  z-index: 200;
  height: 50px;
}

main {
  z-index: 1;
}

footer {
  background-color: #130a0b;
  position: absolute;
  bottom: 0;
}

footer ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 100vw;
}

footer li {
  padding: 5px;
}

/* Header content  */

.navbar {
  max-width: 1200px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 30px;
  z-index: 5;
}

.navigationSpan {
  padding: 0 10px;
}

.toggle-icon {
  display: none;
}

.active {
  text-decoration: underline;
  border: 1px solid var(--parchment-white);
}

/* Main content  */

.wrapContent {
  max-width: 1000px;
  margin: 40px auto;
}

/* .wrapper {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
} */

/* main {
  max-width: 1600px;
  margin: 0 auto;
} */

/* Before user is logged in  */

.beforeLoginWrapper {
  background-color: var(--base-blue);
  height: 100vh;
}

.beforeLogin__borderedSection {
  display: flex;
  align-items: flex-end;
  padding: 25px;
  border: solid 5px var(--parchment-white);
  border-radius: 20px 20px 20px 0;
  gap: 10px;
}

.welcomeSection__information {
  padding: 20px;
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.welcomeSection {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login and register  */

.loginRegisterSections {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0 0 0;
}

.loginRegisterSections > div:nth-of-type(1) {
  margin: 10px;
  height: 70vh;
  border: 5px solid var(--parchment-white);
  border-radius: 25px 25px 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Responsiveness  */

.smallDevice {
  display: none;
}

@media only screen and (max-width: 799px) {
  .welcomeSection img {
    width: 80%;
    height: auto;
  }

  header {
    height: 80px;
  }

  .beforeLogin__borderedSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .smallDevice {
    display: block;
  }

  .largeDevice {
    display: none;
  }

  .navbar {
    position: relative;
    transition: 0.5s height ease-in-out;
  }

  .navbar.expanded {
    height: 100vh;
    background-color: var(--base-blue);
  }

  .navbar.expanded .nav__links {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  li,
  .cta-btn,
  .cta-follow {
    margin: 15px 0;
  }

  .nav__links {
    display: flex;
    flex-direction: column-reverse;
  }

  .logo h1 {
    position: absolute;
    top: 28px;
    left: 22px;
  }

  .toggle-icon {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 28px;
    right: 22px;
    color: var(--feather-black);
  }

  .nav__links {
    display: none;
  }
}

@media only screen and (max-width: 549px) {
  .welcomeSection {
    flex-direction: column;
  }
}
