li,
a,
.cta-btn,
.cta-follow {
  text-decoration: none;
}

.cta-btn:hover,
.cta-follow:hover {
  text-decoration: none;
  color: var(--feather-black);
}

.nav__links .cta-btn:hover {
  text-decoration: none;
}

.cta-btn,
.cta-follow {
  padding: 5px 25px;
  background-color: var(--parchment-white);
  border-radius: 50px 50px 50px 0;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta-btn:hover {
  background-color: var(--parchment-white);
}

.cta-follow {
  background-color: #ffe1c600;
  border: 1px solid var(--parchment-white);
}

.cta-follow:hover {
  background-color: var(--parchment-white);
  border: 1px solid var(--parchment-white);
}

li svg {
  margin: 0 5px;
}

.welcomeSection a {
  text-decoration: underline;
}

.welcomeSection a:hover {
  text-decoration: none;
}

.welcomeSection .cta-btn {
  text-decoration: none;
}

.nav__links li {
  display: inline-block;
  padding: 0 10px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.pageBtn button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 5px 5px 5px 0;
}

.loginRegisterSections a {
  text-decoration: underline;
}

.loginRegisterSections a:hover {
  text-decoration: none;
}

.scrollToTop {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in 1s;
  background-color: #a9c0cabb;
  position: fixed;
  bottom: 25px;
  right: 20%;
  width: 40px;
  height: 40px;
  /* font-size: var(--small-font); */
  border-radius: 25px;
}

.marginTop10 {
  margin-top: 10px;
}

.green {
  background-color: rgb(177, 224, 177);
}
.red {
  background-color: rgb(224, 177, 177);
}

.pageBtn {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.changePageButton {
  padding: 20px;
}

@media only screen and (max-width: 789px) {
  .cta-btn {
    padding: 5px;
  }

  .cta-follow {
    padding: 5px;
  }
}
