.beforeLoginForm,
fieldset,
textarea {
  display: flex;
}

.beforeLoginForm {
  justify-content: stretch;
  align-items: center;
}

.profile fieldset {
  margin: 0;
}

fieldset,
input,
textarea {
  border: none;
}

input,
textarea {
  padding: 5px;
  margin: 2px 0;
  border-radius: 3px 3px 3px 0;
}

form {
  flex-direction: column-reverse;
}

fieldset {
  flex-direction: column;
  margin: 20px;
}

form,
fieldset button,
form input,
textarea {
  width: 100%;
}

.loginRegisterSections form .form-error {
  max-width: 180px;
}

fieldset button {
  margin: 0 auto;
  cursor: pointer;
}

form input,
textarea {
  background-color: var(--parchment-white);
}

form input {
  max-width: 1000px;
}
.edit input {
  border: 3px solid var(--base-blue);
}

textarea {
  justify-content: flex-end;
  height: 60px;
}

#heart {
  display: none;
}

::placeholder {
  color: var(--feather-black);
  opacity: 0.75;
}

.postCard #title {
  background-color: var(--lighter-blue);
}

#banner,
#avatar {
  text-align: center;
}
