.navbar {
  max-width: 1200px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 30px;
  z-index: 5;
}

span {
  padding: 0 10px;
}

.toggle-icon {
  display: none;
}

li .active {
  text-decoration: underline;
  border: 1px solid var(--parchment-white);
}

.smallDevice {
  display: none;
}

@media only screen and (max-width: 769px) {
  .smallDevice {
    display: block;
  }
  .largeDevice {
    display: none;
  }
}
