.previewImg {
  margin: 10px 0;
  height: 600px;
}

img {
  width: 100%;
  margin: 0 auto;
}

svg {
  color: var(--parchment-white);
}

.postCard svg {
  font-size: var(--medium-font-size);
}

/* .userSection svg {
  background-color: var(--feather-black);
  padding: 1px;
  color: var(--parchment-white);
} */

/* .userSection svg:hover {
  padding: 2px;
  color: var(--parchment-white);
} */

.avatar-section img {
  width: 100%;
}

.welcomeSection img {
  max-width: 300px;
  height: auto;
}

@media only screen and (max-width: 789px) {
  .welcomeSection img {
    display: none;
  }
}
