img {
  width: 100%;
  margin: 0 auto;
}

li svg {
  margin: 0 5px;
}

svg {
  color: var(--parchment-white);
}

.previewImg {
  margin: 10px 0;
  height: 600px;
}

.postCard svg {
  font-size: var(--medium-font-size);
}

.postCard-body img {
  padding: 20px 5px;
}

.welcomeSection img {
  max-width: 300px;
  height: auto;
}

@media only screen and (max-width: 789px) {
  .welcomeSection img {
    display: none;
  }
}
