li,
a,
.cta-btn,
.cta-follow,
.cta-btn:hover,
.cta-follow:hover,
.nav__links .cta-btn:hover,
.welcomeSection a:hover,
.welcomeSection .cta-btn,
.loginRegisterSections a:hover {
  text-decoration: none;
}

.cta-btn,
.cta-follow,
.cta-btn:hover,
.cta-follow:hover,
.profileData .cta-btn:hover {
  background-color: var(--parchment-white);
}

.cta-btn,
.cta-follow,
.pageBtn button,
.scrollToTop,
.breadcrumb {
  cursor: pointer;
}

.cta-btn,
.cta-follow {
  padding: 5px 25px;
  border-radius: 10px 10px 10px 0;
}

.profileData .cta-btn,
.profileData .cta-btn:hover,
.cta-follow,
.cta-follow:hover {
  border: 1px solid var(--parchment-white);
}

.profileData .cta-btn:hover {
  color: var(--parchment-white);
}

.profileData .cta-btn:hover,
.cta-follow {
  background-color: var(--feather-black);
}

.cta-follow:hover {
  color: var(--feather-black);
}

.welcomeSection a,
.loginRegisterSections a {
  text-decoration: underline;
}

.nav__links li {
  display: inline-block;
  padding: 0 10px;
}

.nav__links li a,
.cta-btn,
.cta-follow,
.scrollToTop {
  transition: all 0.3s ease 0s;
}

.pageBtn button,
.scrollToTop {
  width: 40px;
  height: 40px;
}

.pageBtn button {
  padding: 5px;
  border-radius: 5px 5px 5px 0;
}

.scrollToTop,
.pageBtn,
.breadcrumbContainer,
.breadcrumbContainer-goBack {
  display: flex;
}

.scrollToTop,
.pageBtn {
  justify-content: center;
}

.scrollToTop {
  align-items: center;
  background-color: #a9c0cabb;
  position: fixed;
  bottom: 25px;
  right: 20%;
  border-radius: 25px;
}

.green {
  background-color: var(--confirm-green);
}

.green:hover {
  background-color: rgb(134, 183, 134);
}

.red {
  background-color: var(--delete-error-red);
}

.red:hover {
  background-color: #a95e5e;
}

.changePageButton {
  padding: 20px;
}

.breadcrumb {
  padding: 10px;
  display: flex;
  align-items: center;
}

.breadcrumbContainer,
.breadcrumbContainer-goBack {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.breadcrumbContainer {
  justify-content: flex-end;
}

.breadcrumbContainer-goBack {
  padding-top: 20px;
  justify-content: flex-start;
}
