.editWrapper > div:nth-of-type(1),
.postCard {
  width: 100%;
}

.postCard {
  max-width: 650px;
  margin: 30px auto 80px auto;
  padding: 0 20px;
}

.avatar-section,
.userInfo-section,
.postCard-body {
  border: 3px solid var(--base-blue);
}

.heartLabel,
.avatar-section {
  cursor: pointer;
}

.avatar-section {
  padding: 40px;
  background-color: #1d1c1bb5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  border-radius: 30px 0 0 0;
  margin-right: 5px;
}
.postCard-head,
.userInfo-section,
.postCard-body div,
.postCard-body,
.commentRespond,
.reactionField,
.reactions,
.reactionSpan {
  display: flex;
}

.reactionField,
.postCard-head,
.userInfo-section {
  justify-content: space-between;
}

.postCard-head {
  height: 20px;
}

.userInfo-section,
.reactions {
  align-items: center;
}

.userInfo-section,
.postCard-body {
  background-color: var(--feather-black);
}

.userInfo-section {
  padding: 40px 20px;
  width: 95%;
  border-radius: 0 30px 0 0;
}

.comments,
.comment,
.postCard-body,
.reactions,
.comment > div:nth-of-type(1),
.reactionField div {
  flex-direction: column;
}

.profileContent__postSection {
  padding: 20px 10px;
}

.postCard-body {
  border-radius: 0 0 50px 0;
  padding: 20px;
  margin-top: 70px;
}

.profilePosts .postCard-body {
  border-radius: 25px 25px 25px 0;
}

.comment {
  margin: 10px 0;
  border-bottom: 1px solid var(--lighter-blue);
}

.commentBody {
  margin-left: 5px;
  background-color: var(--light-feather-black);
  border-radius: 0px 5px 5px 5px;
  padding: 5px;
  display: inline-block;
}

.reactionField {
  padding: 10px 0 20px 0;
}

div.reactionSpan {
  flex-direction: row;
  justify-content: flex-start;
}

.editWrapper {
  height: 100vh;
  padding-top: 100px;
  background-color: #1d1c1b93;
}

.editWrapper > div:nth-of-type(1) {
  max-width: 600px;
  margin: 0 auto;
}

.reactions {
  margin: 0 2px;
}

.reactionSpan span {
  padding: 0;
}

.reactionCount {
  padding: 0 5px;
}

@media only screen and (max-width: 1079px) {
  .post-card {
    max-width: 550px;
  }
}
