/* PROFILE */
.profile {
  background-color: #1d1c1be6;
  overflow: hidden;
  /* padding-bottom: 150px; */
}

.profileBanner,
.profilesPage > div:nth-of-type(2),
.profilePicture,
.profileName,
.profilePosts,
.profileContent__postSection {
  width: 100%;
}

.profileBanner,
.profilePictureInfo,
.profilePicture,
.profileName {
  background-size: cover;
}

.profileBanner,
.profilePictureInfo,
.profilePicture {
  background-position-y: center;
  background-position-x: center;
}

.profileBanner,
.additionalProfileInformation {
  background-color: var(--light-feather-black);
}

.profileBanner,
.profilePictureInfo,
.profileData,
.profileData > div,
.profilesPage,
.profilesPage > div:nth-of-type(2),
.profileSection,
.profileCards,
.profileName,
.profilePictureSection,
.profileContent,
.followWrapper {
  display: flex;
}

.profileBanner,
.profilePictureInfo {
  justify-content: flex-end;
}

.profileBanner {
  height: 300px;
  background-repeat: no-repeat;
  z-index: 1;
}

.editing,
.profileData > div,
.profileSection,
.profileCards,
.profileName,
.profilePictureSection {
  justify-content: center;
}

.editing,
.profileData > div,
.profilesPage,
.profileCards,
.profileName,
.profilePictureSection {
  align-items: center;
}

.profilePictureInfo,
.profileCards {
  border-radius: 25px 25px 25px 0;
}

.profilePictureInfo {
  margin: 0 auto;
  height: 200px;
  width: 200px;
  border: 5px solid var(--base-blue);
  background-color: #7b878c;
  z-index: 2;
  padding: 10px 0;
}

.profileDataSection,
.profilePictureSection,
.pencil,
.profileContent {
  background-color: var(--feather-black);
}

.profileDataSection {
  border-bottom: solid 2px var(--base-blue);
  text-align: center;
}

.profileData,
.profilesPage > div:nth-of-type(2) {
  justify-content: space-between;
}

.profileData {
  max-width: 1200px;
  margin: 0 auto 20px auto;
}

.profileData > div {
  width: 33%;
}

.pencil {
  border-radius: 2px;
  width: 25px;
  height: 25px;
}

.profilesPage,
.profileCards,
.profileName,
.profilePictureSection {
  flex-direction: column;
}

.profilesPage > div:nth-of-type(2),
.profileSection,
.profileContent,
.profilePictureSection {
  max-width: 1000px;
}

.profilesPage > div:nth-of-type(2),
.additionalProfileInformation,
.profilePosts {
  padding: 10px;
}

.profilesPage > div:nth-of-type(2) {
  margin-bottom: 100px;
}

.profileWrapper {
  margin: 0 40px;
}

.profileSection {
  margin: 60px auto;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 30px;
}

.profileCards {
  width: 180px;
  border: 4px solid rgba(255, 255, 0, 0);
}

.profileCards:hover {
  transition: 0.2s;
  border: 4px solid var(--base-blue);
  cursor: pointer;
}

.profilePicture {
  height: 210px;
  border-radius: 20px 20px 0 0;
  background-color: #102c32;
}

.profileName {
  height: 60px;
  border-radius: 0 0 20px 0;
  background-color: rgba(0, 0, 0, 0.721);
  color: var(--parchment-white);
}

.profilePictureSection,
.profileContent {
  margin: 0px auto;
}

.profilePictureSection,
.profileContent {
  border-left: #596b72 3px solid;
  border-right: #596b72 3px solid;
}

.profilePictureSection {
  padding: 20px 0;
}

.profileContent {
  padding: 20px;
  display: grid;
  grid-template-columns: 30% 70%;
}

.additionalProfileInformation {
  /* height: auto; */
  border-radius: 15px 15px 15px 0;
  max-width: 250px;
  margin: 0 5px;
}

.profilePosts {
  height: 100vh;
  overflow: auto;
}

.profilePosts .postCard-body {
  margin: 20px 0 40px 0;
}

@media only screen and (max-width: 798px) {
  .profileSection {
    gap: 0;
  }

  .profileSection {
    padding: 0;
  }

  .profileContent {
    padding: 5px;
  }

  .additionalProfileInformation {
    max-width: 100%;
    /* height: auto; */
  }

  .profileContent {
    grid-template-columns: none;
  }

  .profileData__name {
    width: 100%;
    padding-bottom: 5px;
  }
}

@media only screen and (max-width: 429px) {
  .followWrapper {
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }

  .profileWrapper {
    margin: 0 15px;
  }

  .postCard-body img {
    padding: 2px;
  }
}
