@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bentham&display=swap");

/* Logo  */
.logo {
  margin-right: auto;
  font-family: var(--paragraph);
}

.logo:hover {
  text-decoration: none;
  color: var(--parchment-white);
}

/* Global  */

p,
h1,
h2,
h3,
h4,
h5,
i {
  color: var(--parchment-white);
}

/* Headings  */

h1 {
  font-size: var(--large-font-size);
  margin: 0;
  text-transform: uppercase;
}

h1,
.cta-btn,
.cta-follow {
  transition: 0.8s ease-in-out;
}

h2 {
  /* text-transform: uppercase; */
  font-size: var(--large-font-size);
  font-weight: 500;
  z-index: 1;
  font-family: var(--heading);
  /* padding: 0 5px; */
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-family: var(--heading);
  font-weight: 800;
  color: var(--parchment-white);
}

h4 {
  font-weight: 800;
  color: var(--parchment-white);
  font-family: (--paragraph);
  font-size: var(--small-font-size);
}

/* Paragraphs  */

p {
  font-family: var(--paragraph);
}

.commentRespond p {
  padding: 0 5px;
  cursor: pointer;
}

.commentRespond p:hover {
  text-decoration: underline;
}
.followWrapper p {
  padding: 0 15px 15px 15px;
}
footer p {
  color: var(--parchment-white);
}

li {
  font-weight: 800;
}

a,
.cta-btn,
.cta-follow {
  font-weight: 500;
}

.cta-btn,
.cta-btn-follow,
.cta-follow {
  font-family: var(--paragraph);
}

.cta-btn,
.cta-follow {
  color: var(--feather-black);
}

.cta-btn:hover {
  color: var(--feather-black);
}

.cta-follow {
  color: var(--parchment-white);
}

.welcomeSection a {
  font-family: var(--paragraph);
}

Link,
a {
  color: var(--parchment-white);
}

.postCard #title {
  color: var(--feather-black);
}

#title {
  font-weight: 800;
}

form input {
  color: var(--feather-black);
  font-family: var(--paragraph);
}

span,
.nav__links li a {
  font-family: var(--heading);
  /* font-weight: 500; */
}

::placeholder {
  font-family: var(--paragraph);
  font-weight: 200;
}

textarea {
  color: var(--feather-black);
  font-family: var(--paragraph);
  /* font-weight: 800; */
}

.nav__links {
  list-style: none;
  margin: 0;
  text-transform: uppercase;
}

.nav__links li a {
  font-size: var(--small-font-size);
  padding: 5px;
  border-radius: 5px 5px 5px 0;
  border: 1px solid var(--base-blue);
}

.nav__links li a:hover {
  transition: 0.4s;
  color: var(--parchment-white);
  border: 1px solid var(--parchment-white);
  text-decoration: none;

  /* background-color: var(--feather-black); */
}

.profilePictureSection a {
  opacity: 0.8;
}

.profilePictureSection a:hover {
  transition: 0.2s;
  opacity: 1;
}

.form-error {
  padding: 2px 5px;
  color: var(--parchment-white);
  background-color: rgb(193, 101, 101);
}

.center {
  text-align: center;
}

.softened {
  margin: 10px auto;
}

.timestamp {
  font-size: --xsmall-font-size;
}

.softened,
.timestamp {
  color: rgba(255, 255, 255, 0.582);
  max-width: 400px;
}

@media only screen and (max-width: 798px) {
  .profileContent h3 {
    padding: 10px;
  }
}
